In [15]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [16]:
url = "http://pfref.com/pi/share/kZhgC"
response = requests.get(url)
response.raise_for_status()
soup = BeautifulSoup(response.content, 'html.parser')

In [23]:
headers = [th.getText() for th in soup.findAll('tr')[1].findAll('th')] #Find the second table row tag, find every table header column within it and extract the html text via the get_text method.
headers = headers[1:] #Do not need the first (0 index) column header
print(headers[:5])

['Player', 'Tm', 'G', 'Att', 'Yds']

In [24]:
rows = soup.findAll('tr', class_ = lambda table_rows: table_rows != "thead") #Here we grab all rows that are not classed as table header rows - football reference throws in a table header row everyy 30 rows 
player_stats = [[td.getText() for td in rows[i].findAll('td')] # get the table data cell text from each table data cell
                for i in range(len(rows))] #for each row
player_stats = player_stats[2:]

In [25]:
stats = pd.DataFrame(player_stats, columns = headers)
stats.head()

                  Player   Tm   G  Att   Yds  TD Lng  Y/A   Y/G
0         Derrick Henry*  TEN  17  280  1167  12  69  4.2  68.6
1  Christian McCaffrey*+  SFO  16  272  1459  14  72  5.4  91.2
2          Rachaad White  TAM  17  272   990   6  38  3.6  58.2
3         Travis Etienne  JAX  17  267  1008  11  62  3.8  59.3
4              Joe Mixon  CIN  17  257  1034   9  44  4.0  60.8

In [26]:
stats.to_csv('23_rb_stats.csv')